#bodyone{

    background-color: beige;
}

#bodyindex{

    background-color: brown;
}

#bodyoly {

    background-color: dimgrey;
}

#bodyfifa{

    background-color: dodgerblue;
}

#bodycricket{
    
    color: white;
    background-color: navy;
}

#bodycontact{

    background-color: rgb(101, 0010, 122);
}